name: Downgrade
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  downgrade-test:
    name: Downgrade tests - Julia ${{ matrix.julia-version }} - ${{ github.event_name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        downgrade_mode: ['alldeps']
        julia-version: ['min', 'lts', '1']
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-downgrade-compat@v2
        with:
          skip: Pkg,TOML
          mode: ${{ matrix.downgrade_mode }}
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        with:
          ALLOW_RERESOLVE: false
